* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

main{
    display: flex; /* Tudo aqui dentro segue as regras do flex box */
    flex-direction: column; /* Define se os itens ficam em linha ou coluna */
    justify-content: center; /*Alinha os itens no eixo principal(horizontal)*/
    align-items: center; /* Alinha os itens no eixo secundário (vertical) */
    min-height: 100vh; /* min-height: 100% da altura para evitar cortes em telas pequenas */
    background-color: #000000; /* Cor de fundo para preto */
    padding: 20px; /*Respiro nas bordas para o mobile */

}

img{
    max-width: 300px; /* Define a largura máxima para garintir que a imagem não exploda o leyaout*/
    height: auto; /* Mantém a proporção da imagem */  
    margin-bottom: 20px; 
}

/* Estilização dos elementos h2 e h3 */
h2{
    font-size: 28px;
    color: #fff;
    margin: 20px 0;
    text-align: center; /* Centraliza o texto se quebrar linha */
}

.inputs{
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os itens */
    margin-bottom: 25px;
    width: 100%; 
    max-width: 500px;
}

#input1, #input2{
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #5B5757;
    color: #fff;
    font-weight: bolder;
    flex: 1; /* Faz com que os inputs ocupem o mesmo espaço disponível */
    min-width: 200px; /* Garante que os inputs não fiquem muito pequenos em telas menores */
}

.result h3{
    font-size: 40px;
    color:#4CAF50;
    margin-bottom: 20px;
}

button{
    padding: 15px 60px;
    font-size: 18px;
    font-weight: 700;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s; /* Suaviza a interação */
    
}

button:hover{
    opacity: 0.9; /* Deixa o botão um pouco mais transparente ao passar o mouse */
    transform: scale(1.05); /* Aumenta o tamanho do botão ao passar o mouse */
}

button:active{
    transform: scale(0.95); /* Diminui o tamanho do botão ao clicar */
}

/* --- RESPONSIVIDADE (MOBILE) --- */

/* Aplica as regras abaixo para telas com largura máxima de 480px */
@media (max-width: 500px) { 
    h2 {
        font-size: 22px; 
    }

    .inputs{
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores*/
        width: 100%; /* No mobile bem pequeno, eles ocupam a linha toda */
    }

    h3{
        text-align: center;
        font-size: 20px;

    }

    button {
        width: 100%; /* Facilita o clique com o polegar */
    }
}

/* Flexibilidade: O uso de flex: 1 e min-width faz com que o layout se adapte organicamente.

Acessibilidade: No mobile, botões maiores (width: 100%) são muito mais fáceis de clicar.

Estética: O uso de gap e transition no botão dá aquele ar de "app profissional". */